/* styles.css */

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contentContainer {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.container.dark-mode {
    background-color: #444;
    color: #fff;
}

#contentContainer.dark-mode {
    border-color: #555;
}
